// html{
//   height: 400px;
// }

table {
    width: 100%;
    font-family: "Space Mono", monospace;
  }

.dialog-title{
    font-family: "Space Mono", monospace;
  }

.dialog-close-button{
    float: right; 
    margin: 5px;
}

.mat-mdc-row .mat-mdc-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    font-family: "Space Mono", monospace;
  }

.table-header{
    font-family: "Space Mono", monospace;
    font-weight: bold;
}

.action-table-header{
  text-align: center;
  font-family: "Space Mono", monospace;
  font-weight: bold;
}

.action-column{
  justify-content: center;
}

.mat-mdc-no-data-row {
  td {
     padding: 17px;
  }
}
